$red: #e94d4d;
$blue: #32a5df;
$orange: #ff7c32;
$purple: #7367f0;
$green: #29a87b;
$main: #f2f8fb;
$title: #3c4e69;
$text: #3c4e69;
$text-grey: #818b9a;
$white: #fff;
$black: #000000;
$sidebar: #f9fdff;
$border: #dae9f1;
$border2: #f3f3f3;
$bg-gray: #f2f8fb;

* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: $text;
}

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @include bold;
}
